.feedback-form {
font-family: "Montserrat", sans-serif;
border-radius: 8px;
padding: 24px;
width: 408px;
height: 296px;
background: #fff;
}

.form-label {
    display: grid;
    gap: 8px;
    width: 360px;
    margin-bottom: 16px;
}
input {
    height: 40px;
}

.form-btn {
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #4e75ff;
    border: none;
    color: #fff;
}

.form-btn:hover {
    background: #6c8cff;
}